# Environment variables
.env
.env.*
*.env

# Node
node_modules/
dist/
build/
.npm/

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
